.row-list{
    padding-left: 10px;
    .row-list-header{
        display: flex;
        justify-content: space-between;
        padding:  10px 10px 10px 0;
    }
    .row-list-boby-container{
        overflow: hidden;
        .row-list-body{
            height: 170px;
            display: flex;
         
            min-width: 600px;
        }
    }
 
}